@(tags: Iterator[Tag], tagForm: Form[Tag])(implicit flash: play.api.mvc.Flash, request: play.api.mvc.RequestHeader)

@import helper._

@main("List Tags") {


<script type="text/template" id="list-tags-template">
	<h3><%- title  %></h3>

	<table>
		<% _.each(tags, function(tag) {%>
		<tr>
			<td><a href="/tag/<%- tag.attributes.id %>" contenteditable="true" property="content"><%- tag.attributes.title %></a></td>
			<td><a href="/api/tag/update" class="edit">&nbsp;</a></td>
			<td><a href="/api/tag/<%- tag.attributes.id %>/delete" class="delete">x</a></td>
		</tr>
		<% }); %>

	</table>
</script>

<div class="row">
	<div class="twelve columns">
		<div class="eight columns">
			<h2>Tags</h2>
			<p>Datasets can be tagged with pre-defined tags.</p>

			<div class="row">
				<div class="five columns">
					<div class="row collapse">
					@form(routes.Tags.create) {
						<div class="eight mobile-three columns">
							@inputText(tagForm("title"), 'placeholder -> "Tag", '_label -> "Tag")
						</div>
						<div class="four mobile-one columns">
							<input type="submit" class="button expand postfix" value="Add" />
						</div>
						}
					</div>
					@flash.get("success").map { message =>
						<div class="alert-box success">
							<strong>Done!</strong> @message
							<a href="" class="close">&times;</a>
						</div>
					}
				</div>
			</div>
			<div class="available-tags">
				<div id="list-tags"></div>
			</div>
		</div>
		<div class="four columns">
			<div class="row collapse">
				<h3>Topics</h3>
				<ul class="disc">
					<li><a href="@routes.Tags.list">Tags</a></li>
					<li><a href="@routes.Categories.list">Categories</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
}